{% import "_globals.html" as _g %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
    {{ _g.head() }}

    <body>
        {{ _g.navbar() }}

        <div class="container mt-5">
            {% block content %}
                <!-- ... -->
            {% endblock %}
        </div>

        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
            crossorigin="anonymous">
        </script>
    </body>

</html>
